= semantic_form_for [(@choice.id.nil? ? @event : nil), @choice] do |f|
  = f.semantic_errors

  = f.inputs do
    = f.input :decision, label: true, required: true
    = f.input :event, as: :hidden

  %h3 Triggers Event:

  = f.semantic_fields_for :outcome do |outcome|
    = outcome.input :title,       label:  true, required: true
    = outcome.input :description, label:  true, required: true, as: :text
    = outcome.input :adventure_id, as: :hidden, input_html: { value: @adventure.to_param }

  = f.actions do
    = f.action :submit, label: true
