%h1 Listing choices

%table
  %thead
    %tr
      %th Decision
      %th Triggers
      %th
      %th

  %tbody
    - @choices.each do |choice|
      %tr
        %td= choice.decision
        %td= link_to choice.outcome.title, event_url(choice.outcome)
        %td= link_to 'Edit', edit_choice_path(choice)
        %td= link_to 'Destroy', choice, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Choice', new_event_choice_path(@event)
= link_to "#{@adventure.name} events", adventure_events_url(@adventure)
