= semantic_form_for @user do |f|

  = f.semantic_errors

  = f.inputs do
    = f.input :name, label: true
    = f.input :email, label: true
    = f.input :password, label: true
    = f.input :password_confirmation, label: true
  = f.actions do
    = f.action :submit, label: true
