%h1 Listing events

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Visited
      %th
      %th
      %th
      %th Ready

  %tbody
    - @events.each do |event|
      - row_class = event == @adventure.current_event ? 'current' : 'normal'
      %tr{class: row_class}
        %td= event.title
        %td= event.description
        %td= event.visited
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td= event.ready? ? 'Ready' : link_to('Set ready', ready_event_url(event), method: :put)

%br

= link_to 'New Event', new_adventure_event_path(@adventure)
