%h1 Listing adventures

%table
  %thead
    %tr
      %th Name
      %th Setting
      %th Started
      %th
      %th
      %th
      %th Player
      %th Master

  %tbody
    - @adventures.each do |adventure|
      %tr
        %td= adventure.name
        %td= adventure.setting
        %td= adventure.started
        %td= link_to 'Show', adventure
        %td= link_to 'Edit', edit_adventure_path(adventure)
        %td= link_to 'Destroy', adventure, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td= adventure.player || join_adventure_link(adventure, :player)
        %td= adventure.master || join_adventure_link(adventure, :master)

%br

= link_to 'New Adventure', new_adventure_path
